doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        img(src="./../images/coin.svg")
        p Majd eddine #[span.redText BEN TAHAR] 